<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QSapien</title>
</head>
<style>
*{
    background-color: greenyellow;
}
</style>
<body>
<h3>You have successfully verified your account</h3>
<h5> Now you can login to your account</h5>
<a href='<%= AppUrl %>'>Login</a>
</body>

</html>