*{
    box-sizing: border-box;
}
ul{
    list-style-type: none
}
a:link,a:hover,a:active{
    text-decoration: none;
}
#wrapper{
    width:100%;
}
.navbar-top-links{
    margin-right:0;
}
.navbar-top-links li{
    display: inline-block;
}
.navbar-top-links li:last-child{
    margin-right: 15px;
}
.navbar-top-links li a{
    padding:15px;
    min-height:50px;
}
.navbar-top-links .dropdown-menu li{
    display:block;
}
.navbar-top-links .dropdown-menu li:last-child{
    margin-right: 0px;
}
.navbar-top-links .dropdown-menu li a{
    padding:3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div{
    white-space: normal;
}
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-alerts{
    width: 310px;
    min-width: 0px;
}

.navbar-top-links .dropdown-messages{
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks{
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
  }
  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
  }
  @media (min-width:768 px){
      .navbar-top-links .dropdown-tasks,
      .navbar-top-links .dropdown-messages,
      .navbar-top-links .dropdown-alerts{
          margin-left: auto;
      }
  }
  .login-body{
      height:100vh;
      background-color:floralwhite;
  }
  .login-panel{
      margin-top: 140px;
  }
  .login-panel button{
      margin-top: 15px;
  }
  .panel-title{
      font-size:30px;
      color:green;
      text-align: center;
  }
  .portalContent{
    display:flex;
    width:100%;
}
.portal-sub-content{
flex:4;    
}
.contacts-panel{
    width:300px;
    flex:1;
    min-height:93vh;
    background-color:lightblue;
}
.contacts-panel .tabs{
border:1px solid #ddd;
display:flex;

}
.contacts-panel .tabs .tab{
flex:1;
text-align: center;
padding:5px;
color:#333;
font-weight:bold;
border-right:1px solid #ddd;
}
.contacts-panel .tabs .tab:hover{
    background-color: rosybrown;
}