@import './../../node_modules/antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.ant-avatar {
    margin:0 !important;
}

*{
    box-sizing: border-box;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    color:#333;
    margin:0;
    padding:0;
}
textarea{
    resize: none;
}
a.a:hover,a:selectd{
    color:white
}
ul{
    list-style-type: none
}
a:link,a:hover,a:active{
    text-decoration: none;
}
#wrapper{
    width:100%;
}
  .login-body{
      height:100vh;
      background-color:floralwhite;
  }
  .login-panel{
      margin-top: 140px;
  }
  .login-panel button{
      margin-top: 15px;
  }
  .panel-title{
      font-size:30px;
      color:green;
      text-align: center;
  }
  .portalContent{
    display:flex;
    width:100%;
}
.portal-sub-content{
flex:4;    
}
.contacts-panel{
    width:300px;
    flex:1;
    min-height:93vh;
    background-color:lightblue;
}
.contacts-panel .tabs{
border:1px solid #ddd;
display:flex;

}
.contacts-panel .tabs .tab{
flex:1;
text-align: center;
padding:5px;
color:#333;
font-weight:bold;
border-right:1px solid #ddd;
}
.contacts-panel .tabs .tab:hover{
    background-color: rosybrown;
}
.challenge-form{
    width:900px;
    margin:auto;
    margin-top:20px;
    padding:20px;
    border:1px solid #eee;
}
.accountSetting{
    width:500px;
    margin:auto;
    margin-top:50px;
}
.profile-image{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
}
.logo {
    width: 180px;
    height: 31px;
    background: transparent;
    margin: 0 20px 0 0;
    float: left;
    color: #fff;
    font-size: 24px;
    line-height: 64px;
    text-indent: 20px;
  }
  .solve-challenge-card{
      text-align: center;
  }
  .solve-challenge-card button{
      width:480px;
      margin-top: 200px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  .profile-update{
      width: 100px;
      height:100px;
      border-radius: 50%;
      cursor:pointer;
  }
  .signup-card{
      margin:auto;
      margin-top: 30px;
      width:600px;
  }
.login-card{
    max-width: 400px;
    margin: auto;
    margin-top: 90px;
}
.login-card .login-card-forgot{
    float:right;
}
.login-card .login-card-button{
    width:100%;
}
.profile-card{
width:500px;
min-height:400px;
margin: auto;
margin-top: 50px;
text-align: center;
}
.profile-card .user-bio{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}
.leaderboard-card{
width:500px;
min-height: 400px;
margin: auto;
margin-top:30px;
}
.homepage{
    padding:20px;
}
.leaderboard-user{
display:flex;
width:100%;
}
.leaderboard-user .user-rank{
width:40px;
}
.leaderboard-user .user-profile{
width:100px;
}
.leaderboard-user .user-name{
width:200px
}
.leaderboard-user .credit-points{
    float:right;
}
.show-credit-points{
font-family: 'Roboto',sans-serif;
font-weight: 700 ;
color:#ffca00 !important;
}
.ant-menu-item-selected.no-select-background,.show-credit-points.ant-menu-item-selected{
    background-color:transparent !important;
}
.side-nav-item a{
    color:white;
}
.ant-menu-inline-collapsed .side-nav-item{
display:none;
}

.ant-menu-item{
    margin-top: 0px !important;
}
input[type="file"] {
    display: none;
}
.select-profile{
    background: white;
    color:#666;
    border:1px solid #ddd;
    padding:5px;
    margin:10px;
    font-weight:400;
    cursor:pointer;
    border-radius:3px;
}
.select-profile:hover{
    border-color: #40a9ff;
}